.overlay {
  position: fixed;
  inset: 0;
  background: rgba(20, 20, 30, 0.3);
  display: grid;
  place-items: center;
  z-index: 1000;
}

.myForm__button_type_close {
  position: absolute;
  right: 0px;
  top: -40px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background: transparent;
}

.myForm__button_type_close:hover {
  cursor: pointer;
}

.myForm__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.myForm {
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgb(81, 81, 81);
}

.myForm__title {
  /* margin-left: 40px; */
  display: flex;
  justify-content: center;
  color: rgb(1, 143, 1);
}

.myForm__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
}

.myForm__error {
  color: red;
}

.myForm__input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgb(207, 207, 207);
  outline: none;
  margin: 10px 0 0 0;
  font-size: 18px;
}

.myForm__input:focus {
  border-color: rgb(228, 232, 236);
}
.myForm__input::placeholder {
  font-size: 14px;
}

.myForm__button {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  height: 50px;
  border: none;
  border-radius: 8px;
  background-color: rgb(0, 173, 0);
}

.success {
  background-color: green;
  color: white;
}
